.container{
	width: 100%;
	height: auto;
}

.navbar{
	width: 100%;
	height: 60px;
	background-color: #2b384c;
	margin-top: -16px;

}

.navbar h2{
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	font-family: sans-serif;

}

.navbar h2 a:hover{
	color: #fff;
}

.navbar h2 a{
	color: #bbb;
	text-decoration: none;
}


/* begin header */
.header{
	width: 100%;
	height: 400px;
	background-color: darkgray; 
}

.header img{
	width: 200px;
	height: 200px;
	margin-left: 659px;
	margin-top: 20px;

}

.header h2{
	font-family: sans-serif;
	text-align: center;
	color: white;
}

.header h3{
	font-family: sans-serif;
	text-align: center;
	color: white;
}
/* einde header */

/* begin content */

.content{
	width: 100%;
	height: 400px;
	background-color: #eee;
	margin-top: -18px;
}

.content h2{
	font-family: sans-serif;
	color: #bbb;
	text-align: center;
}

.content hr{
	width: 200px;
	border-color: #888;
}



.skillscontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 5px;
  color: white;
}

.html {width: 90%; background-color: black;}
.css {width: 70%; background-color: black;}
.js {width: 50%; background-color: black;}
.java {width: 30%; background-color: black;}
 /* einde content */

 /* begin about */
.about{
	width: 100%;
	height: 230px;
	background-color: #fff;
	margin-top: 15px;
}

.about h2{
	font-family: sans-serif;
	color: #bbb;
	text-align: center; 
}

.about hr{
	width: 200px;
	border-color: #888;

}

.textabout{
	width: 100%;
	height: 100px;
	margin: auto;
}

.textabout p{
	font-family: sans-serif;
	text-align: center;
}
/* einde about */

/* begin Experience */

.experience h2{
	font-family: sans-serif;
	color: #bbb;
	text-align: center; 
}

.experience hr{
	width: 200px;
	border-color: #888;

}

.collapsible {
	background-color: #2b384c;
	color: white;
	cursor: pointer;
	padding: 30px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
  }
  
  .contentone {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
  }


/*  einde experience */

/* begin education */

.education{
	width: 100%;
	height: 230px;
	background-color: #fff;
	margin-top: 15px;
}

.education h2{
	font-family: sans-serif;
	color: #bbb;
	text-align: center; 
}

.education hr{
	width: 200px;
	border-color: #888;
}

.texteducation{
	width: 100%;
	height: 100px;
	margin: 4px;
	font-family: sans-serif;
}

/* einde education */

/* begin contact */

.contact{
	width: 100%;
	height:400px;
	background-color: #eee; 

}

.contact h1{
	font-family: sans-serif;
	color: #888;
	text-align: center;
	padding-top: 25px;

	
}

.contact hr{
	width: 200px;
	border-color: #888;
}

.form{
	width: 500px;
	height: 263px;
	margin-left: 621px;
}

.form input{
	width: 400px;
	height: 30px;
	margin-top: 10px;
	text-indent: 10px;
	border: 1px solid #305ea8;
}

.form textarea{
	width: 400px;
	height: 100px;
	margin-top: 10px;
	font-family: sans-serif;
	text-indent: 10px;
	border: 1px solid #305ea8;
}

.form button{
	width: 100px;
	height: 35px;
	margin-top: 10px;
	background-color: #305ea8;
	border:none;
	border-radius: 1px;
	cursor: pointer;
	color: #eee;
	
}

.form button:hover{
	background-color: #0e4eb5;
}

.contact img{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 385px;
	margin-top: 10px;

}

/* einde contact */

/* begin footer */

.footer{
	width: 100%;
	height: 100px;
	background-color: #2b384c;
	margin-top: -15px;

}

.footer p{
	line-height: 100px;
	color: #eee;
	text-align: center;
	font-family: arial;
}

.footer p a{
	color: #bbb;
	font-family: sans-serif;
	text-decoration: none;
	padding: 20px;
}

.footer p a:hover{
	text-decoration: underline;
	color: #fff;

}

/* einde footer */



	
